@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html
{
  font-size: 62.5%;
  box-sizing: border-box;
}

body
{
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header
{
  position: relative;
  height: 35vh;
}

main
{
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons
{
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information
{
  width: 52rem;
  font-size: 2rem;
}

.message
{
  transform: translate(-350px, -140px);

  position: absolute;

  width: 400px;
}

.label-you
{
  transform: translate(-310px, 270px);
}

.label-player-bet
{
  transform: translate(-307px, 150px);
}

.label-dealer
{
  transform: translate(-370px, -550px);
}

.label-dealer-value
{
  transform: translate(-370px, -450px);
}

.label-player-value
{
  transform: translate(-370px, 30px);
}

h1
{
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dealerCards
{
  display: flex;

  width: 1500px;
  transform: translate(300px, 260px);
}

.dealerCardSlot
{
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  margin-right: 20px;
}

.playerCards
{
  display: flex;

  width: 1500px;
  transform: translate(300px, 400px);
}

.playerCardSlot
{
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  margin-right: 20px;
}

.reset
{
  /* Not following the global rule */
  font-family: 'Press Start 2P', sans-serif;

  position: absolute;
  height: 50px;
  width: 100px;

  font-size: 14px;
  top: 2rem;
  left: 2rem;
}

.hit
{
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 4.5rem;
  cursor: pointer;

  transform: translate(380px, 140px);

  visibility: hidden;
}

.stand
{
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;

  transform: translate(580px, 200px);

  visibility: hidden;
}

.bet
{
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;

  transform: translate(400px, 80px);
}

#betField
{
  font-family: 'Press Start 2P', sans-serif;

  height: 40px;
  width: 150px;

  font-size: 20px;
  padding-left: 10px;

  transform: translate(550px, 30px);
}

.btn:hover
{
  background-color: #ccc;
}

.version
{
  font-size: 12px;

  position: absolute;
  right: 50px;
  bottom: 30px;
}
